@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

h1 {
	font-family: 'Poppins',serif;
	text-align: center;
	color: #fff;
	font-size: 35px;
}

ul {
	list-style: none;
}

li {
	font-family: 'Poppins', serif;
	font-size: 2em;
	color:  #feb135;
}

input[type=radio] {
	border: 0px;
	width: 20px;
	height: 2em;
}

p {
	font-family: 'Poppins', serif;
	text-align: center;
	margin: auto;
	color: #fff;
}

.quizContainer {
	background-color: #2c3a47;
	border-radius: 8px;
	width: 75%;
	margin: auto;
	margin-top: 190px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}

.nextButton {
	border-radius: 6px;
	width: 150px;
	height: 40px;
	text-align: center;
	background-color: #cc0000;
	color: #fff;
	font-family: 'Poppins', serif;
	font-weight: 400;
	margin: auto;
	padding-top: 20px;
	cursor: pointer;
}

.question {
	font-family: 'Poppins', serif;
	font-size: 2em;
	width: 90%;
	height: auto;
	margin: auto;
	border-radius: 6px;
	background-color: #f2f205;
	text-align: center;
	color: #27a63;
}

.quizMessage {
	background-color: #peachpuff;
	border-radius: 6px;
	width: 30%;
	margin: auto;
	text-align: center;
	padding: 2px;
	font-family: 'Poppins', serif;
	color: red;
}

.choiceList {
	font-family: 'Poppins', serif;
	color: blueviolet;
}

.result {
	font-family: 'Poppins', serif;
	width: 30%;
	height: auto;
	border-radius: 6px;
	background-color: linen;
	margin: auto;
	margin-bottom: 35px;
	text-align: center;
}

.option {
	background-color: #f1f2f6;
	margin: 5px;
	margin-left: 0px;
	padding-left: 10px;
	width: 90%;
	font-weight: 200;
	color: #2f3542;
}
.option.select {
	background-color: #009432;
	color: #fff;
}
.option.disable {
	pointer-events: none;
}