* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input {
    
    width:130px;
	height:80px;
	font-size:65px;
	border-radius:10px;
	margin:10px;
	background-color:#000;
	color:#fff;
	border-style:none;		
        
}

#calform {
	
	
	margin-left:225px;
	margin-top:20px;
}

h1 {
	
	text-align: center;
	font-size:80px;
	margin-right:150px;
	margin-top:20px;
	
	
}
